.home {
    width: 100%;
    height: 100%;
    background: red;
  }
  .el-header {
    background-color: #333741;
    color: #333;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    > p {
      text-indent: 20px;
      font-size: 30px;
      color: #fff;
      flex: 1;
    }

  }
  
  .el-aside {
    background-color: #333741;
    color: #333;
    text-align: center;
    line-height: 200px;
    
  }
  
  .el-main {
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    line-height: 100%;
  }
  
  .home > .el-container {
    height: 100%;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
    }
  
  .el-radio-group {
    font-size: 16px;
    color: #fff;
    width: 100%;
    display: block;
    > p {
      height: 20px;
      width: 100%;
      background: #4a5064;
    }
  }
  .el-menu{
      border-right:none;
  } 
  .el-submenu__title{
      display: flex;
      align-items: center;
  }
  .el-submenu .el-menu-item{
      display: flex;
      align-items: center;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }